.u-section-1 .u-sheet-1 {
  min-height: 525px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 28px;
  }

  #sec-ef3e {
    height: 5px !important; /* todo */
  }
}

.hacerlo_grande {
  min-height: calc(100vh - 543px);
}
